<form id="new_comments_form" hidden method="post" action="/comments">
  <label for="comment_description">Comment:</label>
  <textarea required id="comment_description" name="comment_description"></textarea>
  <input type="hidden" name="burn_id" value="<%= burn_id %>">

  <span class='burn_username'><% current_user.username %></span>
  <% if current_user %>
    <input type="submit" value="Submit New Comment" class="button">
  <% else %>
    <p>You must be logged in to create a new comment.</p>
  <% end %>
</form>


