<ul class="blog_entries">
  <% @entries.each do |entry| %>
    <li>
      <p class="entry-title"><%= entry.title %></p>
      <p class="entry-date"><%= "Written on #{entry.date_written}." %></p>
      <p class="entry-stub"><%= entry.stubbed_body %></p>
    </li>
  <% end %>
</ul>
