<ul class="entries-list">
  <% @entries.each do |entry| %>
    <li class="entry-item">
      <span class="entry-title"><%= entry.title %></span>
      <span class="entry-date"><%= "Written on #{long_form_date(entry.created_at)}." %></span>
      <p class="entry-stub"><%= stub(entry.body) %></p>
    </li>
  <% end %>
</ul>
