<form id="new_burns" method="post" action="/burns">
  <label for="burn_title_input">Title of Burn:</label>
  <input id="burn_title_input" type="text" name="title" placeholder="title">
  <label for="burn_description">Burn:</label>
  <textarea id="burn_description" name="burn_description"></textarea>
  <% if current_user %>
    <input type="submit" value="Submit New Burn" class="button">
  <% else %>
    <p>You must be logged in to create a new burn.</p>
  <% end %>
</form>

