<form id="new-counter-form" action="/counters/<%=@burn_id %>/new" method="post">
  <input type="text" name="description" placeholder="What's your counter?" required/>
  <input type="submit" value="Submit"/>
</form>
