<form id="burns" method="post" actions="/burns-new">
  <input type="text" name="title" placeholder="title">
  <textarea id="burn_description" name="burn_description"></textarea>
  <input type="submit" value="Submit New Burn">
</form>

