<div class='burn-list'>
  <%@burns.each do |burn| %>
    <article id="<%=burn.id%>">

      <h2><a href='/burns/'><%= burn.title %></a></h2>
      <p>
        <span class='user'>burn.user</span>
        <span class='votes'><%= burn.votes %></span>
        <span class='timestamp'><%= burn.time_since_creation %></span>
      </p>
    </article>
    <% end %>
</div>

