<form action="/add-comment" method="post" id="comment">
  <h1>Add a comment</h1>
  <textarea type="textarea" name="description" form="comment" required/></textarea><br/>
  <input type="submit" value="Post Your Comment"/>
</form>
