<form action="/add-counter" method="post" id="counter">
  <h1>Your counter</h1>
  <textarea type="textarea" name="counter" form="counter" required/></textarea><br/>
  <input type="submit" value="Post Your Counter"/>
</form>
