<h1>Login</h1>
<form action="/login" method="post">
  <labe>Username:</labe> <br />
  <input type="text" name="username" required/><br />
  <labe>Password:</labe> <br />
  <input type="password" name="password" required/><br />
  <input type="submit" value="Login"/>
</form>
