<h1>Sign-Up</h1>

<form action="/sign-up" method="post">
  <labe>Username:</labe> <br />
  <input type="text" name="user[username]" required/><br />
  <labe>Password:</labe> <br />
  <input type="password" name="user[password]" required/><br />
  <input type="submit" value="Sign-up"/>
</form>
