<div class="ui segment">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui image header">
        <div class="content">
          Create a new account
        </div>
      </h2>
      <form action="/sign-up" method="post" class="ui large form">
        <div class="ui stacked secondary segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="user[username]" required placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="user[password]" required placeholder="Password">
            </div>
          </div>
            <input class="ui fluid large teal submit button" type="submit" value="Register"/>
        </div>
      </form>
    </div>
  </div>
</div>
